main.block-content {
  height: auto;
}

input,
textarea {
  color: #303030;
  font-size: 1.1em;
  border-radius: 5px;
  background-color: #fffef8;
  border: 1px solid #557c70;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: 1.2px solid #557c70;
}

input[type="radio"] {
  width: auto;
  margin-top: .7rem;
}

input[type="submit"] {
  cursor: pointer;
  box-shadow: 0.3rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

input,
textarea,
.btn {
  padding: .7em 1em;
}

textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}

.btn {
  border: 0;
  margin-bottom: 2em;
}

.form-line {
  margin-bottom: 1.1em;
}

.content-form {
  max-width: 900px;
}

.guest-input {
  margin-bottom: .8rem;
}

form {
  text-align: left;
}

.show-btn {
  display: inline-block;
}

.radio-opt {
  margin-right: 1.2rem;
}
