main.block-content {
  height: auto;
}

.guest-card {
  background-color: white;
  box-shadow: 5px 5px 10px -5px rgba(40, 40, 40, 0.8);
  padding: 1em 1.5em;
  border-radius: 5px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 1em;
  text-align: left;
}

.guest-card ul {
  padding-left: 2.5em;
  font-family: "Playfair Display", serif;
}
